<div class="bottom-nav-area">
    <MenuButton Type="2" IsSelected="@(_selectedIndex == 0)" OnClick="@(() => MenuButtonOnClick(0))" />
    <MenuButton Type="1" IsSelected="@(_selectedIndex == 1)" OnClick="@(() => MenuButtonOnClick(1))" />
    <MenuButton Type="3" IsSelected="@(_selectedIndex == 2)" OnClick="@(() => MenuButtonOnClick(2))" />
</div>